/* style sheet */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-bottom: 15px;
    align-items: center;
}

/* header section  */

.nav {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color: lightskyblue;
    padding: 30px;
}

h1 {
    color: white;
}

ul.nav-city {
    display: flex;
    list-style-type: none;
    color: white;
}

li.nav-cities {
    display: flex;  
    font-size: 20px;
    margin-left: 30px;
}



/* main section  */

.main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 750px;
    margin-top: 15px;
    padding: 20px;
}

/* city section for main area  */

.city-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.city {
    display: flex;
    flex: 1 0 auto;
    font-size: 30px;
    padding-left: 20px;
}

.temp-container {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin-right: 20px;
}

.temp {
    display: flex;
    padding-right: 10px;
}

/* day forcast section */

.day-section {
    display: flex;
    flex: 1 0 auto;
    margin-top: 10px;
    justify-content: space-evenly;
}

/* General layout of all boxes */

.box {
    display: flex;
    flex: 1 0;
    height: 300px;
    background-color: lightgrey;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
}

/* Individual layout of boxes */

.today {

}

.tomorrow {
    margin-left: 10px;
}

.Friday {
    margin-left: 10px;
}

.Sat {
    margin-left: 10px;
} 

/* cookie section  */

.cookie-wrapper {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    border: 4px solid black;
    width: 600px;
    position: fixed;
    bottom: 100px;
    left: 150px;
}

.img_cookie {
    display: flex;
}

.cookie-desc {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.acceptTerms {
    height: 30px;
    padding: 4px;
    background-color: lightblue;
    box-shadow: 4px 4px black;
}